@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin: 18px;
}

.inputWrap {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.centerWrap {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.btn, .spinner {
  margin: 18px auto;
}